body{
	font-family: "Open Sans", sans-serif;

}

h1, h2, h3, h4, h5, h6{
	color:#656c74;
}

h1{

}

h2{
	font-size: 22px;

}

h3{
	font-size: 18px;

}


h4{
	font-size: 16px;

}


.subtext{
	background-color: #f4f4f4;
	color:#333;
	padding: 20px;
}

.btn-main{
	background-color:#f49600;
	// font-size: 30px;
	color:white;
}

.btn-main:hover{
	background-color:#d45821;
	color:white;
}

.btn-secondary{
	background-color:#f4f4f4;
	border:1px solid #d2d2d2;
	color:#656C74;
}

.btn-secondary:hover{
	background-color:#ddd;
	border:1px solid #d2d2d2;
	color:#656C74;
}


ul.checklist{
    list-style-type:none;
    padding:0;
    margin: 0;
}

ul.checklist i{
    color:green;
    margin-right: 5px;
    font-size: 15px;
}